<form #f="ngForm" (ngSubmit)="submit(f)">
  <form-input
    isRequired="true"
    name="First Name"
    type="text"
    minLength="3"
    maxLength="20"
    pattern="[a-z,A-Z]*">
  </form-input>
  <form-input
    isRequired="true"
    name="Last Name"
    type="text"
    minLength="3"
    maxLength="20"
    pattern="[a-z,A-Z]*">
  </form-input>
  <form-input
    isRequired="true"
    name="E-mail"
    type="text"
    maxLength="50"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  </form-input>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea ngModel name="comment" id="comment" type="text" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input class="checkbox" type="checkbox" ngModel name="isSubscribed">
      Subscribe to email list
    </label>
    <!--can be used for debugging reasons {{f.value | json}}-->
  </div>
  <div class="group-form">
    <label for="contactMethod">Contact Method:</label>
    <select multiple [(ngModel)]="chosenContactMethod" name="contactMethod" id="contactMethod">
      <option></option>
      <option *ngFor="let contactMethod of contactMethods" [value]="contactMethod.id">{{contactMethod.name}}</option>
    </select>
  </div>
  <div *ngIf="chosenContactMethod==2 || chosenContactMethod==3">
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input required
             pattern="[0-9]"
             ngModel #phoneNumber="ngModel"
             name="phoneNumber"
             id="phoneNumber"
             type="number"
             class="form-control">
      <div class="alert alert-danger"
           *ngIf="phoneNumber.touched && !phoneNumber.valid">
        <div *ngIf="phoneNumber.hasError('required')">
          Please enter phone number.
        </div>
        <div *ngIf="phoneNumber.hasError('pattern')">
          Please only enter a valid phone number.
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
</form>
